
<div class="show_event">
   <!--제목삭제
    <%=@showevent.name%>
    -->
    <%@showevent.detail.each do |d|%>
    <%= d %>
    <hr>
    <%end%>
    
<hr>
     <% if @showevent.name=="음악을 이루다,본무대" %>
     <%= image_tag ("event/musicstage.jpg"), :class => "event_page_image" %>
     <% else %>
     <%= image_tag ("event/#{@showevent.name}.jpg"), :class => "event_page_image" %>
     <% end %>
    
</div>